/* ***************** ABOUT US  */

.about-me-page-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.about-me-page {
    margin: 0 auto;
    padding: 8rem 20px 20px;
    max-width: 80rem;

}


.profile-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-bottom: 80px;
}

.profile-section h2 {
    padding-bottom: 1rem;
}


.text {
    flex-grow: 1;
    align-self: center;
}

.profile-image,
.product-image,
.inspiration-image {
    max-width: 100%;
    border-radius: 8px;
}

.profile-paragraph {
    max-width: 90%;
}

/* Media Query for smaller screens */

@media (max-width: 991px) {
    .profile-paragraph {
        max-width: 60%;
    }

    .profile-section {
        display: flex;
        flex-direction: column;
    }

    .reverse-section {
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .profile-paragraph {
        max-width: 80%;
    }
}

@media screen and (max-width: 479px) {

    .profile-paragraph {
        max-width: 100%;
    }
}

/* Initial state */
.profile-section {
    opacity: 0;
    transform: translateY(50px);
}

.visible-about-section {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s, transform 0.5s;
}